<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Main Menu -->
    <menuitem id="menu_hospital_root"
              name="Hospital"
              web_icon="om_hospital,static/description/icon.png"
              sequence="0"/>

    <!-- Patient Sub Menu -->
    <menuitem id="menu_patient_master"
              name="Patient Details"
              parent="menu_hospital_root"
              sequence="0"/>

    <!-- Appointment Sub Menu -->
     <menuitem id="menu_appointment_master"
              name="Appointments"
              parent="menu_hospital_root"
              sequence="20"/>

    <!-- Patient Tag Sub Menu -->
    <menuitem id="menu_patient_tag_master"
              name="Configuration"
              parent="menu_hospital_root"
              sequence="10"/>

</odoo>